<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="go"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="author" content="Michael D Henderson"/>
    <title>EC - {{ .Game }} - Cluster Star List</title>
    <link rel="stylesheet" href="../css/monospace.css">
</head>
<body>
<header>
    <table class="header">
        <tr>
            <td colspan="2" rowspan="2" class="width-auto">
                <h1 class="title">Epimethean Challenge</h1>
                <span class="subtitle">A reboot of a grander game</span>
            </td>
            <th class="width-min">Game</th>
            <td>A02</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td class="width-min"><time style="white-space: pre;">{{ .UpdatedDate }}</time></td>
        </tr>
        <tr>
            <th class="width-min">Author</th>
            <td class="width-auto"><a href="https://github.com/mdhender/empyr"><cite>Michael D Henderson</cite></a></td>
            <th>Version</th>
            <td class="width-min">0.0.1</td>
        </tr>
    </table>
</header>
<main>
    <article>
        <p>
            This is the complete list of star systems in the A02 game.
            You can get this data in JSON format <a href="cluster-star-list.json">here</a>.
        </p>
        <table>
        <tr><th>System ID</th><th>Coordinates</th><th>Number of Stars</th><th>Distance From Center</th></tr>
            {{range .Systems}}
                <tr><td>{{.Id}}</td><td>{{.Coordinates}}</td><td>{{.NumberOfStars}}</td><td>{{.DistanceFromCenter}}</td></tr>
            {{end}}
        </table>
        <footer>
            <nav class="post-footer">
                [ <a href="../index.html">HOME</a> ]
                [ <a href="../posts/posts.html">POSTS</a> ]
                [ <a href="cluster-system-map.html" target="_blank">CLUSTER MAP</a> ]
            </nav>
        </footer>
    </article>
</main>
<hr>
<footer>
    Empyrean Challenge is the property of James Columbo and is used with his permission.
    The documentation from this site may not be used without his express permission.
</footer>
</body>
</html>