<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="go"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="author" content="Michael D Henderson"/>
    <title>Epimethean Challenge</title>
    <link rel="stylesheet" href="/css/normalize-v8.0.1.css">
</head>
<body>
<main>
    <h2 class="text-2xl font-bold underline">
        Epimethean Challenge
    </h2>
    <p>Game {{.Game.Code}}</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</main>
<hr>
<footer>
    Empyrean Challenge is the property of James Columbo and is used with his permission.
    The documentation from this site may not be used without his express permission.
    <p>
        Author | <a href="https://github.com/playbymail/empyr">Michael D Henderson</a> | GNU AGPLv3
    </p>
</footer>
</body>
</html>
