<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="go"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="author" content="Michael D Henderson"/>
    <title>Epimethean Challenge</title>
    <link rel="stylesheet" href="/css/normalize-v8.0.1.css">
</head>
<body>
<header>
    <table class="header">
        <tr>
            <td colspan="2" rowspan="2" class="width-auto">
                <h1 class="title">Epimethean Challenge</h1>
                <span class="subtitle">A reboot of a grander game</span>
            </td>
            <th>Version</th>
            <td class="width-min">v0.0.5</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td class="width-min">
                <time style="white-space: pre;">2025-02-22</time>
            </td>
        </tr>
    </table>
</header>
<main>
    <article>
        <p>
            <span class="digit-display">{{.ViewCount}}</span>
            {{.Note}}
            {{.Snark}}
        </p>
        <p class="message">
            Awaiting orders...
        </p>
        <footer>
            <nav class="post-footer">
                [ <a href="/blog.html">BLOG</a> ]
                [ <a href="/about.html">ABOUT</a> ]
                [ <a href="/sample-cluster.html" target="_blank">MAP</a> ]
                [ <a href="https://github.com/mdhender/moid" target="_blank">GITHUB</a> ]
                [ <a href="https://discord.com" target="_blank">DISCORD</a> ]
            </nav>
        </footer>
    </article>
</main>
<hr>
<footer>
    Empyrean Challenge is the property of James Columbo and is used with his permission.
    The documentation from this site may not be used without his express permission.
    <p>
        Author | <a href="https://github.com/playbymail/empyr">Michael D Henderson</a> | GNU AGPLv3
    </p>
</footer>
</body>
</html>
