<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="go"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="author" content="Michael D Henderson"/>
    <title>Epimethean Challenge</title>
    <link rel="stylesheet" href="/css/normalize-v8.0.1.css">
</head>
<body>
<main>
    {{if .Error}}
        <p>
            There was an error logging in.
        </p>
        <ul>
            <li>{{.Error}}</li>
        </ul>
    {{else if .User.IsUser}}
        <p>
            You have logged in as "{{.User.Handle}}" with user id of {{.User.ID}}.
            You are an active user{{if .User.IsAdmin}} and you are also an admin{{end}}.
        </p>
    {{else}}
        <p>
            You are not logged in.
            Please contact the admin if you have not received an e-mail with a link to log in.
        </p>
    {{end}}
    <hr>
    <footer>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{if .User.IsUser}}<p><a href="/logout">Logout</a></p>{{end}}
            </ul>
        </nav>
    </footer>
</main>
<hr>
<footer>
    Empyrean Challenge is the property of James Columbo and is used with his permission.
    The documentation from this site may not be used without his express permission.
</footer>
</body>
</html>
