<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="go"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="author" content="Michael D Henderson"/>
    <title>Epimethean Challenge</title>
</head>
<body>
<main>
<p>
    You have been logged out.
    Please close your browser and go take some time to think about what you have learned.
</p>
</main>
<hr>
<footer>
    Empyrean Challenge is the property of James Columbo and is used with his permission.
    The documentation from this site may not be used without his express permission.
</footer>
</body>
</html>
